.toggle{
    width: 100%;
    height: auto;
    /* gap: 10px; */
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
}
.togglequestion{
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
    margin: 30px;

}
.question{
    color: var(--gray-900, #101828);
    font-family: FreightDisp Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    align-self: stretch;
}

.toggleanswer{
    width: 800px;
    text-align: center;
    align-self: stretch;
    color: var(--gray-500, #667085);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


@media only screen and (max-width: 1000px) {
    .toggle{
        width: 80%;
        margin-left: 10%;
        
    }
    .question{
        color: var(--gray-900, #101828);
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
        align-self: stretch;
        margin-right: 10px;
    }
    
    .togglequestion{
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    
    }
    .toggleanswer{
        width: 100%;
        height: auto;
    }
  }

  
@media only screen and (max-width: 600px) {
    .toggle{
        width: 90%;
    height: auto;
    }
    .question{
        color: var(--gray-900, #101828);
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
        align-self: stretch;
        margin-right: 10px;
    }
    
    .togglequestion{
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 150px; */
    
    }
    .toggleanswer{
        width: 80%;
        height: auto;
        /* margin-left: 10%; */
    }
    
  }