.barContainer{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid; */
    align-items: center;
    margin-top: -50px;
    
}
.bargraph1{
    color: #23262F;
font-family: FreightDisp Pro;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 120% */
}
.bargraph2{
    color: #FF4F17;
font-family: FreightDisp Pro;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px;
}
.bargraph3{
    color: var(--Neutral-2, #23262F);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
@media only screen and (max-width: 900px) {
    .bargraph{
        display: none;
    }
    .barContainer{
        height: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}