.Secondlayoutcontent{
height: auto;
flex-shrink: 0;
border-radius: 0px 0px 0px 197px;
flex-wrap: wrap;
background: linear-gradient(180deg, #292C6D 0%, #414595 100%);
}

.secondtopcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid; */
}
.topleftcontainer{
    position: relative;
    width: 40%;
}
/* .topleftcontainer .whiteRound{
    width:17%;
    height:17%;
    border-radius:50%;
    background-color:white;
    position:absolute;
    top:30%;
    left:90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.roundPercent{
    position: relative;
    font-size: 3em;
    font-weight: 400px;
} */

.toprightcontainer{
    position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 40% ;
        margin-left: 10%;
}


.toprightcontainer1{
    
    color: var(--Neutral-7, #F4F5F6);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
letter-spacing: 1.96px;
}
.toprightcontainer2{
    color: var(--Neutral-7, #F4F5F6);
font-family: FreightDisp Pro;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 100% */
}

.toprightcontainer3{
    /* width: 300px; */
transform: rotate(-0.386deg);
color: var(--Neutral-7, #F4F5F6);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.secondfooter{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footeritems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Neutral-7, #F4F5F6);
    /* width: 300px; */
}

.videoplayer{
    margin-top: 10px;
    width: 50%;
    height: auto;
    margin: 100px 25% 100px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    position: relative;
    border: 2px solid;
    overflow:'hidden';
    z-index: 999;
}
.secondLayoutLogin{
    margin:10px 0px 0px 20px;
    background-color: transparent;
    border: none;
    color: white;
}

@media only screen and (max-width: 1290px) {
    .shadow{
        display: none;
    }
  }
  @media only screen and (min-width: 700px) {
    .videoplayer{
        top: 100px;
    }
  }


  /* @media only screen and (max-width: 871.5px) {
    .invermentmiddlecontainerbelow{
        order: 2;
    }
    .order2{
        margin-bottom: 20px;
        order: 1;
    }
    .invermentmiddlecontainer{
        display: flex;
    }
  } */

@media only screen and (max-width: 768px) {
    .Secondlayoutcontent{
    height: 850px;
    }

  }

  @media only screen and (max-width: 420px) {
    .Secondlayoutcontent{
    height: auto;
    }
  }



@media only screen and (max-width: 600px) {
    .Secondlayoutcontent{
    height: 1300px;
    }
    .topleftcontainer{
        width: 80%;
    }
    .toprightcontainer{
        gap: 10px;
        margin-top: 50px;
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
    .footeritems{
        width: 200px;
    }  
    .secondLayoutLogin{
        display: flex;
        width: 143.13px;
        transform: rotate(-0.386deg);
        padding: 12.972px 19.458px;
        justify-content: center;
        align-items: center;
        gap: 6.486px;
        border-radius: 114.504px;
        border: 0.811px solid var(--Neutral-7, #F4F5F6);
        margin-left: 0px;
    }
    
  }
