.mainheader{
    background-image: url("../../assets/corosal1.png"); 
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    overflow: "auto";
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 82.6vh;
    background-color: #00000074;
    top: 0%;
}

.content{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    padding: 150px 0px 241.92px 68px;
}

.mainheader .para{
    transform: rotate(0.386deg);
    color: #FFFFFF;
    font-family: FreightDisp Pro;
    width: 100%;
    font-size: 55px;
    /* height: auto; */
    font-style: normal;
    font-weight: 500;
    line-height: 62px;
}
.headerbutton{
    display: flex;
    width: 150px;
    padding: 13.595px 20.392px;
    justify-content: center;
    align-items: center;
    gap: 6.797px;
    border-radius: 120px;
    background: var(--Blue, #292C6D);
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    margin-top: 24px;
    z-index: 3000;
}

@media only screen and (max-width: 780px) {
    .mainheader .para{
        transform: rotate(0.386deg);
        color: #FFFFFF;
        font-family: FreightDisp Pro;
        width: 100%;
        font-size: 40px;
        /* height: auto; */
        font-style: normal;
        font-weight: 500;
        line-height: 62px;
    }
}

@media only screen and (max-width: 600px) {
    .mainheader{
        width: 100%;
        height: auto;
    }
    .mainheader .para{
        margin-left: 0px;
        transform: rotate(0.386deg);
        color: var(--Neutral-7, #F4F5F6);
        font-family: FreightDisp Pro;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 43px;
    }
    .content{
        padding: 150px 0px 241.92px 30px;
    }
    .headerbutton{
        margin-top: 30px;
    }
    .mainheader  .para2{
        color: #FF4F17;
        font-family: FreightDisp Pro;
        font-size: 27px;
        font-style: normal;
        font-weight: 500;
        line-height: 43px;
    }
    .overlay {
    height: 78.3vh;
    }
}

