.investmentCalculator{
    max-width: 100%;
    height: auto; 
    /* height: auto;      
    width: 98.9vw; */
    height: 785px;
    flex-shrink: 0;
    /* border-radius: 48px; */
    background: linear-gradient(180deg, #292C6D 0%, #414595 100%);
   
}
.investmenttopCalculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
/* border: 2px solid; */
    color: #FFF;
    text-align: center;
    font-family: FreightDisp Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.invermentmiddlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.invermentmiddlecontainerbelow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calleftContainer{
    width: 435px;
    height: 424.884px;
    /* flex-shrink: 0; */
    border-radius: 16px;
    background: #FFF;
}

.calleftContainerbellow{
    margin-top: -20%;
    width: 354.07px;
    height: 138.256px;
    border-radius: 8.992px;
    background: var(--Neutral-7, #F4F5F6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grapcontent{
    width: 80%;

}

.slidercontent{
    margin: 30px 0px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Neutral-2, #23262F);
font-family: DM Sans;
font-size: 17.984px;
font-style: normal;
font-weight: 500;
line-height: 22.481px; /* 125% */
}

.sliderpricetag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
height: 47.209px;
border-radius: 4.496px;
border: 1.124px solid #F1F1F1;
background: var(--Neutral-7, #F4F5F6);
}
.pricebelow1{
    color: var(--Neutral-2, #23262F);
font-family: DM Sans;
font-size: 17.984px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.045px;
}

.pricebelow2{
    color: var(--Neutral-2, #23262F);
    font-family: DM Sans;
    font-size: 26.977px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.067px;
}
.pricebelow3{
    color: var(--Neutral-2, #23262F);
font-family: DM Sans;
font-size: 17.984px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.045px;
}

@media only screen and (max-width: 900px) {
  
    .investmentCalculator{
        max-width: 100%;
        height: auto; 
    }
}
@media only screen and (max-width: 600px) {
    .calleftContainer{
        width: 90%;
        height: auto;
        border-radius: 16px;
        background: transparent;
    }
    
    .calleftContainerbellow{
        margin-top: 20px;
        width: 90%;
        height: auto;
        border-radius: 8.992px;
    }
    .slidercontent{
        color: white;
    }
    .sliderpricetag {
        color: black;
    }
  }
