.topContainer{
    margin-left: 5%;
}
.top1container{
    color: var(--Neutral-2, #23262F);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
    letter-spacing: 1.96px;
    margin-bottom: 0px;
}
.top2container{
    color: var(--Neutral-2, #23262F);
    margin: 0px;
    font-family: FreightDisp Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.top3container{
    display: flex;
    justify-content:space-between;
    width: 500px;
    color: var(--Neutral-3, #353945);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 15.6px */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
    margin: 20px 0px 20px 0px;
}
.middleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.middleImgContainer{
    width: 800px;
}
.imgContent{
    display: flex;
    flex-direction: column;
    justify-content:first;
    padding: 40px;
    height: auto;
    width: 500px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}
.siteArea{
    color: #FF4F17;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 15.6px */
letter-spacing: 1.68px;
}

.mgpLayout{
    color: var(--Neutral-2, #23262F);
font-family: FreightDisp Pro;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 120% */
}

.items{
    /* border: 2px solid; */
    display: flex;
    justify-content:first;
    align-items: center;
    gap: 20px;
    height: 50px;
    color: #000;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: capitalize;
}

.items .types{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    height: auto;
    /* padding: 0%; */
}
.pricepercent{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Neutral-2, #23262F);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.46px;
}

.skill {
    margin-bottom: 1px;
    width: 90%;
    margin: 20px 0Px 20px 0px;
}


.bar-container {
    background-color: #ddd;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    background-color: #FF4F17;
    height: 100%;
}
.middleImgContainer .middleImg{
    width: 870px;height: 584px;
    border-radius: 10px;
}
.corosalbutton{
    display: flex;
    color: #FFFFFF;
    width: 150px;
    padding: 13.595px 20.392px;
    justify-content: center;
    align-items: center;
    gap: 6.797px;
    border-radius: 120px;
    border: 0.85px solid var(--Neutral-4, #777E90);
    background: var(--Blue, #292C6D);
}

.bottomContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--Neutral-3, #353945);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    /* width: 70%; */
    line-height: 130%; /* 15.6px */
    letter-spacing: 1.68px;
    margin: 50px;
    
}

@media only screen and (max-width: 1000px) {
    .middleImgContainer .middleImg{
        width: 90%;
        height:30%;
        min-width: 300px;
        margin-left: 5%;
        object-fit: cover;
        border-radius: 10px;
    }
    .top3container{
        width: 90%;
    }
    .imgContent{
        margin-top: -40px;
        width: 50%;
    }
    .mgpLayout{
        color: var(--Neutral-2, #23262F);
        font-family: FreightDisp Pro;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; /* 120% */
    }
    .pricepercent{
        width: 100%;
        font-size: 11.5px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .topContainer{
        margin-top: 100px;
    }
  }
  @media only screen and (max-width: 600px) {
    .topContainer{
        margin-top: 250px;
    }
  }