.navbar{
    /* z-index: 999; */
    margin: 0px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburgerMenu{
    display: none;
}

.navbar .navimg{
    width: 120px;
    height: 100px;
    object-fit: cover;
    padding-top: 7px;
    padding-left: 20px;
    /* padding: 7px 0px 9px 57px; */
    /* border:2px solid green; */
}
.navlinks{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* border:2px solid blue; */
}
.navbarbutton{
    /* margin: 10px; */
    color: var(--black-secondary-normal, #081228);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    display: flex;
    padding: 1px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    height: 100px;
}

.navLogin{
    display: flex;
width: 122px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid var(--Blue, #3359A7);
background-color: transparent;
color: var(--Blue, #3359A7);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
}

@media only screen and (max-width: 1200px) {
    .navLogin{
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .navlinks{
        display: none;
    }
    .hamburgerMenu{
        display: block;
    }
}