.footer{
    width: 100%;
    height: auto;
    background: var(--Dark, #0A142F);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 20px; */
}
.footertop{
    color: #FFF;
    text-align: center;
    font-family: FreightDisp Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footerbelowtop{
    width: 623px;
    color: var(--White, #FFF);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 33px; /* 183.333% */
opacity: 0.8;
}

.footerbutton{
    display: flex;
width: 150px;
padding: 13.595px 20.392px;
justify-content: center;
align-items: center;
gap: 6.797px;
border-radius: 120px;
border: 0.85px solid var(--Neutral-7, #F4F5F6);
color: white;
background-color: transparent;
}
.footertopbottom{
    margin-top: 70px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.8;
}

.footerlinks{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.footerbutton1{
    color: white;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    display: flex;
    padding: 1px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    height: 100px;
    flex-wrap: wrap;
}
.footerbutton2{
    color: white;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: flex;
    padding: 1px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
    height: 100px;
    /* width: 100px; */
    margin: 3px;
}

.footerimg{
    width: 66px;
    height: 63px;
    flex-shrink: 0;
}
.smallerview{
    display: none;
}
.largerview{
    display: block;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

@media only screen and (max-width: 1000px) {
    .smallerview{
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footerbutton1{
        display: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    .footertop{
        text-align: left;
        margin-left: 10px;
        color: #FFF;
        font-family: FreightDisp Pro;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 125% */
    }
    .footerbelowtop{
        text-align: left;
        width: 100%;
        color: var(--White, #FFF);
        text-align: center;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px; /* 183.333% */
    }
    .footerbutton{
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: left;
        /* display: none; */
    }
    .footertopbottom{
        display: none;
    }
    .hrline{
        display: none;
    }
  }